body {
  background-image: url('http://vignette2.wikia.nocookie.net/harrypotter/images/f/ff/Pottermore_the_sorting_ceremony.jpg/revision/latest?cb=20140718104704&path-prefix=ru');
  text-align: center;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}

#wrapper {
  padding: 5% 0;
  background-color: #253247;
  width:960px;
  margin:5% auto;
  box-sizing: border-box;
  min-height: 80%;
  opacity: 0.8;
}

#subwrapper {
  position: relative;
  top:20%;
}

button {
  display:block;
  width:400px;
  height:100px;
  margin: 10px auto 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}


h1 {
  font-family: 'Geo', sans-serif;
  font-size: 6.5em;
  margin-bottom: 50px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 35px;
  margin-bottom: 25px;
  color: white;
}

h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#start {
  margin-top: 10%;
  border:2px solid blue;
  background: yellow;
}

#quiz-area h2 {
  margin-top: 50px;
}

button:hover {
  border:2px solid blue;
  background: pink;
}

/*@font-face {

  font-family: 'Harry Potter';
  src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');

}*/