body {

	background-image: url('http://vignette2.wikia.nocookie.net/harrypotter/images/f/ff/Pottermore_the_sorting_ceremony.jpg/revision/latest?cb=20140718104704&path-prefix=ru');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.hairyText {

	font-family: 'Mountains of Christmas', cursive;
	font-size: 35px;
	color: goldenrod;
	text-align: center;
}


.unlimited {

	font-size: 20px;
	color: yellow;
	text-align: center;
}

.container {

	background-color: #330000;
	margin-left: 450px;
	width: 50%;
	min-height: 100%;
}

#challengeAcc {

	text-align: center;
	color: #e6e600;
	border-width: 5px;
	box-shadow: 3px;
	background-color: #00134d;
	margin-left: 375px;
	margin-top: 50px;
	line-height: 50px;
}

#countDown {

	color: chocolate;
	text-align: center;
	font-size: 25px;
}

#answeredA, #unansweredA, #missedA, #totalScore {

	text-align: center;
	color: #9966ff;

}

#spark {

	font-family: 'Gloria Hallelujah', cursive;
	color: #661aff;
	text-align: center;
}

/*@font-face {

  font-family: 'Harry Potter';
  src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');

}*/